#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Menu_1 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 318px;
  height: 29px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1174C1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1174C1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1174C1;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1174C1;
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Menu_item_1 {
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Menu_item_1-nodetext {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Menu_item_2 {
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  text-shadow: none;
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Menu_item_2-nodetext {
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Sign-in-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 736px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-header {
  width: 414px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 127px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Statusbar-white {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_34 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Group_13 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_7 .content {
  width: 6px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_7 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_10 .content {
  width: 6px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_10 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_16 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_16 .content {
  width: 6px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_16 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_16 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_17 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_17 .content {
  width: 6px;
  height: 6px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Ellipse_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_17 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_53 {
  position: absolute;
  top: 1px;
  left: 340px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_53 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_53 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label_53 span#rtr-s-Label_53_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Image_20 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Image_35 > svg {
  width: 14px;
  height: 14px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Image_35 {
  position: absolute;
  top: 3px;
  left: 337px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Image_36 > svg {
  width: 18px;
  height: 18px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Image_36 {
  position: absolute;
  top: 1px;
  left: 41px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-content .verticalalign {
  vertical-align: middle;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Cell-content {
  width: 414px;
  height: 672px;
  background-color: #52B3A0;
  background-image: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Group_229 {
  position: absolute;
  top: 280px;
  left: 25px;
  width: 360px;
  height: 44px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_197 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 345px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_197 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_197 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_197 span#rtr-s-Rich_text_197_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Line_106 {
  position: absolute;
  top: 43px;
  left: 16px;
  width: 344px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_8 {
  position: absolute;
  top: 7px;
  left: 65px;
  width: 284px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_8 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Group_231 {
  position: absolute;
  top: 324px;
  left: 25px;
  width: 360px;
  height: 44px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_198 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 345px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_198 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_198 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Rich_text_198 span#rtr-s-Rich_text_198_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Line_107 {
  position: absolute;
  top: 43px;
  left: 16px;
  width: 344px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_12 {
  position: absolute;
  top: 7px;
  left: 99px;
  width: 252px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_12 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Input_12 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label-blue_1 {
  position: absolute;
  top: 483px;
  left: 23px;
  width: 358px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label-blue_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label-blue_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Label-blue_1 span#rtr-s-Label-blue_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-logo {
  position: absolute;
  top: 50px;
  left: 147px;
  width: 117px;
  height: 117px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_1 {
  position: absolute;
  top: 238px;
  left: 140px;
  width: 133px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Heiti TC',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_2 {
  position: absolute;
  top: 269px;
  left: 23px;
  width: 163px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Heiti TC',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_3 {
  position: absolute;
  top: 276px;
  left: 208px;
  width: 14px;
  height: 28px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Heiti TC',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_4 {
  position: absolute;
  top: 273px;
  left: 223px;
  width: 163px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Heiti TC',Arial;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Heiti TC',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7d47452b-35cc-422b-9b0b-37dd9080ab25 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}