#s-4d462518-7183-4043-9acd-03ab79be12f9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4d462518-7183-4043-9acd-03ab79be12f9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4d462518-7183-4043-9acd-03ab79be12f9 #s-Browser_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 745px;
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4d462518-7183-4043-9acd-03ab79be12f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}