#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Time-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Date-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_407 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fe05be39-d309-4c93-b68c-c74e322690a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}